<% include head_en %>
<body>
		<!-- ******** NAVBAR ******** -->
    <header id="header">
		
			<nav class="navbar navbar-default navbar-fixed-top"> 
	
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand smoothScroll" href="#home">
							<img alt="Modus" src="/img/logo.png">
						</a>
					</div>
	
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="main-navbar">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="smoothScroll" href="#home">Home</a></li>
							<li><a class="smoothScroll" href="#services">Services</a></li>
							<li><a class="smoothScroll" href="#portfolio">Portfolio</a></li>
							<li><a class="smoothScroll" href="#Tools">Tools</a></li>
							<li><a class="smoothScroll" href="#Resume">About Me</a></li>
							<li><a class="smoothScroll" href="#contact">Contact</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container -->
			</nav>

		</header>
		<!-- ******** NAVBAR ******** -->
		<!-- ******** HOME ******** -->
		<section id="home"> 
			
			<div class="overlay"></div>

			<div class="home-content">
				
				<div class="container">
					
					<div class="row">

						<div class="col-md-8 col-md-offset-2">
							
							<span class="h5">Web Development, using the latest trends.</span class="h5">

							<h2 class="h1">MY MISSION IS TO MAKE YOUR BUSINESS GROW</h2>
						</div>					
					</div>
				</div>
			</div>

		</section>
		<!-- ******** HOME ******** -->
		<!-- ******** SERVICES ******** -->
		<section id="services"> 
				
				<div class="container">
						<div class="row">
								<div class="col-md-12">
										<div class="section-title text-center">
												<h2>Services</h2>  
										</div>
								</div>
						</div>
					<div class="row" id="SERVICIOSAOFRECER">
						
						<div class="col-md-4">
							
							<div class="service">
								<figure>
									<figcaption><h5>Single page web</h5></figcaption>
								</figure>
								<p>
										Web application, capable of adapting to different screens, which runs on a single 
										page, thus achieving a user experience closer to a desktop application. </p>
							</div>
	
						</div>
	
						<div class="col-md-4">
	
							<div class="service">
								<figure>
									<figcaption><h5>Multiple web page</h5></figcaption>
								</figure>
								<p>
										Web application that allows browsing between different pages of the same site. 
										Perfect for management systems. </p>
							</div>
	
						</div>
						
						<div class="col-md-4">
	
							<div class="service">
								<figure>
									<figcaption><h5>Maintenance</h5></figcaption>
								</figure>
								<p>
										Once a project is finished, our professional relationship can continue with the 
										maintenance of the web application. Here it will help to solve possible future 
										problems that the page could present, as well as the update of the tools used. </p>
							</div>
	
						</div>
	
					</div>
	
				</div>
	
			</section>
	<!-- ******** SERVICES ******** -->
	<!-- ******** PORTFOLIO ******** -->

	<!-- ******** PORTFOLIO ******** -->
	<!-- ******** TOOLS ******** -->
	<section id="Tools"> 
				
			<div class="container">
					<div class="row justify-content-center mb-5">
							<div class="col-md-12">
									<div class="section-title text-center">
											<h2>TOOLS</h2>  
									</div>
							</div>
					</div>  

        <div class="row" id="ArribaTools">
          <div class="col-md-4">
            <div class="media d-block media-feature text-center">
              <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-scissors-1"></span></div>
              <div class="media-body">
								<img src="/img/tools/nodejs.png" alt="">
                <h3><a href="https://nodejs.org/en/" target="_blank">Node.js</a></h3>
								<p>Nodejs is a server-side JavaScript 
									environment, based on events.
									Node is open source, and runs on Mac OS X, Windows and Linux.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media d-block media-feature text-center">
              <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-cream"></span></div>
              <div class="media-body">
								<img src="/img/tools/Reactjs.png" alt="">
                <h3><a href="https://reactjs.org/" target="_blank">Reactjs</a></h3>
                <p>Reactjs is a JavaScript library for building user interfaces. React makes it painless to 
									create interactive and complex UIs.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="media d-block media-feature text-center">
              <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-moustache"></span></div>
              <div class="media-body" id="ArribaTools1">
									<img src="/img/tools/Mongodb.png" alt="">
                <h3><a href="https://www.mongodb.com" target="_blank">MongoDB</a></h3>
								<p>MongoDB is a document-oriented database. 
									This means that instead of saving the data in registers, it saves the data in 
									documents.  </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="AbajoTools">
          <div class="col-md-4">
            <div class="media d-block media-feature text-center">
              <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-scissors"></span></div>
              <div class="media-body">
								<img src="/img/tools/php.png" alt="">
                <h3><a href="" target="_blank">PHP</a></h3>
                <p>PHP is a general-purpose programming language for server-side code. It was originally designed for web development of dynamic content. It is currently among the most popular open source projects</p>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <div class="media d-block media-feature text-center">
              <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-razor"></span></div>
              <div class="media-body" id="Vue">
									<img src="/img/tools/Vue.js.png" alt="">
                <h3><a href="https://vuejs.org/" target="_blank">Vue</a></h3>
                <p>Vuejs is a progressive framework for building user interfaces. </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media d-block media-feature text-center">
              <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-hair-comb"></span></div>
              <div class="media-body" id="AbajoTools2">
									<img src="/img/tools/mysql.png" alt="">
                <h3><a href="https://www.mysql.com/">MySQL</a></h3>
                <p>
										MySql is the most popular open source database in the world.
										With its proven performance, reliability and ease of use,
										MySQL has become the main database option for
										Web-based applications.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 
	<!-- ******** TOOLS ******** -->
	<!-- ******** RESUME ******** -->
		<section id="Resume">
				<div class="container">
				<div class="row">
						<div class="col-md-12">
								<div class="section-title text-center">
										<h2>About Me</h2>  
								</div>
						</div>
				</div>
			<div class="row">
					<div class="row fullscreen align-items-center justify-content-between" id="MESECTION">
						<div class="col-lg-6 col-md-6 banner-left" id="INFOME">
							<h6>This is me</h6>
							<h1>Francisco Perrotta</h1>
							<p>
									A man who on every occasion
									Has given the best that he had.
							</p>
							<p>
									Argentine and Italian man. 
							</p>
							<p> 
									"Técnico superior en programación", degree obtained at the 
									<a href="https://www.frc.utn.edu.ar/" target="_blank">"Universidad Tecnologica Nacional de Cordoba"</a>, Argentina.
							</p>
							<p>
									The development process, together with the client and using the latest trends in 
									technology, allows to obtain an application that meets all the specified functional 
									requirements and at the same time is safe and user friendly. 
									In all cases, the client becomes creditor to the developed source code.
							</p>
							<p>
									<a target="_blank" href="https://drive.google.com/file/d/1H4ltxSwS1w2VlVtgJ9pN2jrT2f7oSXpX/view?usp=sharing">Resume</a>
							</p>
						</div>				
						<div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
							<img id="me" class="img-fluid" src="/img/Me.jpg" alt="">
						</div>
					</div>
				</div>					
			</section>
	<!-- ******** RESUME ******** -->
	<!-- ******** CONTACT ******** -->
	<section id="contact">
 
		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
						<div class="section-title text-center">
								<h2>Contact</h2>  
						</div>
				</div>
			</div>
			<div class="row" id="ContenidoContact">
				<div class="col-md-6">
					<div id="about-subsection" class="contact-subsection">
						<div class="col-md-12">
						<h2 class="sub-section-title">WhatsApp <i class="fab fa-whatsapp" style="color:#a72f2f"></i></h2>
						<p>+54 353 9 4821618</p>
						</div>
						<div class="col-md-12" id="itemsContact">
						<h2 class="sub-section-title">Location <i class="fas fa-map-marker-alt" style="color:#a72f2f"></i></h2>
						<p><a href="https://www.google.com.ar/maps/place/C%C3%B3rdoba/@-31.3993438,-64.3344291,11z/data=!3m1!4b1!4m5!3m4!1s0x9432985f478f5b69:0xb0a24f9a5366b092!8m2!3d-31.4200833!4d-64.1887761"> Córdoba Capital, Argentina</a></p>
						</div>
						<div class="col-md-12" id="itemsContact">
							<h2 class="sub-section-title">Email <i class="far fa-envelope" style="color:#a72f2f"></i></h2>
							<p>perrottafrancisco0@gmail.com</p>
						</div> 
					</div> 
				</div>

				<div class="col-md-6">
					
					<div id="form-subsection" class="contact-subsection">
						
						<h2 class="sub-section-title">Contact Me</h2>
        		<%= msg %>
						<form method="POST" action="send/en">

							<div class="form-group">
								<label class="email-label" for="Email">Email</label>
								<input type="email" class="form-control" id="Email" name="Email">
							</div> 
							<div class="form-group">
									<label class="message-label" for="Message">Message</label>
									<textarea class="form-control" id="Message" rows="2" name="Message"></textarea>
							</div>
							
								<button type="submit" class="btn btn-default pull-right btn-block">Send</button>

						</form>

					</div>

				</div>

			</div>

		</div>

	</section>
  <!-- ******** CONTACT ******** -->
	<!-- ******** FOOTER ******** -->
	<footer id="footer">
			<div class="container">
					<div class="row">
							<div class="col-sm-4">
								<button id="BotonLenguaje" onclick="CambiarLenguaje()" class="btn-default">Spanish</button>
							</div>
					</div>
					<div class="row">
							<div class="col-sm-12">
									<p class="text-center">
											© 2018 Designed and Developed by <a target="_blank" href="http://localhost:3000">Perrotta Francisco</a>
									</p>
									
									<ul class="social-icons text-center">
											<li><a href="https://www.facebook.com/lautiperrotta" target="_blank"><i class="fab fa-facebook"></i></a></li>
											<li><a href="https://www.instagram.com/lautiperrotta" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a href="#" target="_blank"><i class="fab fa-google-plus"></i></a></li>
											<li><a href="https://github.com/Thefluxporter" target="_blank"><i class="fab fa-github"></i></a></li> 
											<li><a href="https://www.linkedin.com/in/lautaro-perrotta-580868161" target="_blank"><i class="fab fa-linkedin"></i></a></li> 
									</ul>
							</div>
					</div>
			</div>
	</footer>
	<!-- ******** FOOTER ******** -->
 
	<script>
		function CambiarLenguaje() {
		  location.href = '/es';
		}
	</script>
</body>
</html>

<!-- ******** 
	4- Send mail 
	5- Responsive
	******** -->