<% include head_es %>
<body>
		<!-- ******** NAVBAR ******** -->
    <header id="header">
		
			<nav class="navbar navbar-default navbar-fixed-top"> 
	
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand smoothScroll" href="#home">
							<img alt="Modus" src="/img/logo.png">
						</a>
					</div>
	
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="main-navbar">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="smoothScroll" href="#home">Home</a></li>
							<li><a class="smoothScroll" href="#services">Servicios</a></li>
							<li><a class="smoothScroll" href="#portfolio">Portfolio</a></li>
							<li><a class="smoothScroll" href="#Tools">herramientas</a></li>
							<li><a class="smoothScroll" href="#Resume">Sobre Mi</a></li>
							<li><a class="smoothScroll" href="#contact">Contacto</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container -->
			</nav>

		</header>
		<!-- ******** NAVBAR ******** -->
		<!-- ******** HOME ******** -->
		<section id="home"> 
			
			<div class="overlay"></div>

			<div class="home-content">
				
				<div class="container">
					
					<div class="row">

						<div class="col-md-8 col-md-offset-2">
							
							<span class="h5">Desarrollador web, usando LAS ÚLTIMAS TENDENCIAS.</span class="h5">

							<h2 class="h1">MI MISIÓN ES HACER QUE TU NEGOCIO CREZCA</h2>
						</div>					
					</div>
				</div>
			</div>

		</section>
		<!-- ******** HOME ******** -->
		<!-- ******** SERVICES ******** -->
		<section id="services"> 
				
				<div class="container">
						<div class="row">
								<div class="col-md-12">
										<div class="section-title text-center">
												<h2>Servicios</h2>  
										</div>
								</div>
						</div>
					<div class="row" id="SERVICIOSAOFRECER">
						
						<div class="col-md-4">
							
							<div class="service">
								<figure>
									<figcaption><h5>Single page web</h5></figcaption>
								</figure>
								<p>
									Aplicación web, capaz de adaptarse a diferentes pantallas, que se ejecuta en una única
									página, logrando así una experiencia de usuario más cercana a una aplicación de escritorio. </p>
							</div>
	
						</div>
	
						<div class="col-md-4">
	
							<div class="service">
								<figure>
									<figcaption><h5>Multiple web page</h5></figcaption>
								</figure>
								<p>	
										Aplicación web que permite navegar entre diferentes páginas del mismo sitio.
										Perfecto para sistemas de gestión. </p>
							</div>
	
						</div>
						
						<div class="col-md-4">
	
							<div class="service">
								<figure>
									<figcaption><h5>Mantenimiento</h5></figcaption>
								</figure>
								<p>
									Una vez que se termina un proyecto, nuestra relación profesional puede continuar con el
									mantenimiento de la aplicación web. Aquí se ayudará a resolver posibles futuros
									problemas que la página pudiese presentar, así como la actualización de las herramientas utilizadas. </p>
							</div>
	
						</div>
	
					</div>
	
				</div>
	
			</section>
	<!-- ******** SERVICES ******** -->
	<!-- ******** PORTFOLIO ******** -->

	<!-- ******** PORTFOLIO ******** -->
	<!-- ******** TOOLS ******** -->
	<section id="Tools"> 
				
			<div class="container">
					<div class="row justify-content-center mb-5">
							<div class="col-md-12">
									<div class="section-title text-center">
											<h2>Herramientas</h2>  
									</div>
							</div>
					</div>  

        <div class="row" id="ArribaTools">
          <div class="col-md-4">
            <div class="media d-block media-feature text-center">
              <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-scissors-1"></span></div>
              <div class="media-body">
								<img src="/img/tools/nodejs.png" alt="">
                <h3><a href="https://nodejs.org/en/" target="_blank">Node.js®</a></h3>
								<p>Nodejs es un intérprete 
									Javascript del lado del servidor. 
									Los programadores suelen trabajar con JavaScript del lado del cliente, 
									teniendo que utilizar un lenguaje diferente para el lado del servidor. 
									Es un entorno de código abierto y multiplataforma.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media d-block media-feature text-center">
              <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-cream"></span></div>
              <div class="media-body">
								<img src="/img/tools/Reactjs.png" alt="">
                <h3><a href="https://reactjs.org/" target="_blank">Reactjs</a></h3>
								<p>Reactjs es una biblioteca de JavaScript para construir interfaces de usuario.
									React hace que sea fácil crear UI interactivas y complejas. </p>
              </div>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="media d-block media-feature text-center">
              <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-moustache"></span></div>
              <div class="media-body" id="ArribaTools1">
									<img src="/img/tools/Mongodb.png" alt="">
                <h3><a href="https://www.mongodb.com" target="_blank">MongoDB</a></h3>
								<p>MongoDB es una base de datos de documentos 
									que ofrece una gran escalabilidad y flexibilidad, y un modelo de consultas e indexación avanzado.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="AbajoTools">
          <div class="col-md-4">
            <div class="media d-block media-feature text-center">
              <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-scissors"></span></div>
              <div class="media-body">
								<img src="/img/tools/php.png" alt="">
                <h3><a href="" target="_blank">PHP</a></h3>
								<p>PHP es un lenguaje de código abierto que se ejecuta el lado del servidor,
									 muy popular y especialmente adecuado para el desarrollo web</p>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <div class="media d-block media-feature text-center">
              <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-razor"></span></div>
              <div class="media-body" id="Vue">
									<img src="/img/tools/Vue.js.png" alt="">
                <h3><a href="https://vuejs.org/" target="_blank">Vuejs</a></h3>
                <p>Vue es un framework progresivo para construir interfaces de usuario. </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media d-block media-feature text-center">
              <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-hair-comb"></span></div>
              <div class="media-body" id="AbajoTools2">
									<img src="/img/tools/mysql.png" alt="">
                <h3><a href="https://www.mysql.com/">MySQL</a></h3>
                <p>
										MySQL es el sistema de administración de bases de datos 
										relacionales mas popular del mundo. Muy util para entornos de desarrollo web y transaccionales.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 
	<!-- ******** TOOLS ******** -->
	<!-- ******** RESUME ******** -->
		<section id="Resume">
				<div class="container">
				<div class="row">
						<div class="col-md-12">
								<div class="section-title text-center">
										<h2>Sobre Mi</h2>  
								</div>
						</div>
				</div>
			<div class="row">
					<div class="row fullscreen align-items-center justify-content-between" id="MESECTION">
						<div class="col-lg-6 col-md-6 banner-left" id="INFOME">
							<h6>Este soy yo</h6>
							<h1>Francisco Perrotta</h1>
							<p>
								un hombre que en cada ocasión, da lo mejor de si mismo.
							</p>
							<p>
									Nacionalidad: Argentina e Italiana. 
							</p>
							<p> 
									"Técnico superior en programación", título obtenido en la 
									<a href="https://www.frc.utn.edu.ar/" target="_blank">"Universidad Tecnológica Nacional de Cordoba"</a>, Argentina.
							</p>
							<p>
								El proceso de desarrollo, en conjunto con el cliente y utilizando las últimas 
								tendencias en materia tecnológica, permite obtener una aplicación que cumple todos 
								los requisitos funcionales especificados y a la vez es segura y amigable al usuario.
								En todos los casos el cliente se hace acreedor al código fuente desarrollado.
							</p>
							<p>
									<a target="_blank" href="https://drive.google.com/file/d/1H4ltxSwS1w2VlVtgJ9pN2jrT2f7oSXpX/view?usp=sharing">Currículum</a>
							</p>
						</div>				
						<div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
							<img id="me" class="img-fluid" src="/img/Me.jpg" alt="">
						</div>
					</div>
				</div>					
			</section>
	<!-- ******** RESUME ******** -->
	<!-- ******** CONTACT ******** -->
	<section id="contact">
 
		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
						<div class="section-title text-center">
								<h2>Contacto</h2>  
						</div>
				</div>
			</div>
			<div class="row" id="ContenidoContact">
				<div class="col-md-6">
					<div id="about-subsection" class="contact-subsection">
						<div class="col-md-12">
						<h2 class="sub-section-title">WhatsApp <i class="fab fa-whatsapp" style="color:#a72f2f"></i></h2>
						<p>+54 353 9 4821618</p>
						</div>
						<div class="col-md-12" id="itemsContact">
						<h2 class="sub-section-title">Localizacion <i class="fas fa-map-marker-alt" style="color:#a72f2f"></i></h2>
						<p><a href="https://www.google.com.ar/maps/place/C%C3%B3rdoba/@-31.3993438,-64.3344291,11z/data=!3m1!4b1!4m5!3m4!1s0x9432985f478f5b69:0xb0a24f9a5366b092!8m2!3d-31.4200833!4d-64.1887761"> Córdoba Capital, Argentina</a></p>
						</div>
						<div class="col-md-12" id="itemsContact">
							<h2 class="sub-section-title">Email <i class="far fa-envelope" style="color:#a72f2f"></i></h2>
							<p>perrottafrancisco@gmail.com</p>
						</div> 
					</div> 
				</div>
				<div class="col-md-6">
					
					<div id="form-subsection" class="contact-subsection">
						
						<h2 class="sub-section-title">Envíame tu idea</h2>
        		<%= msg %>
						<form method="POST" action="send/es">

							<div class="form-group">
								<label class="email-label" for="Email">Email</label>
								<input type="email" class="form-control" id="Email" name="Email">
							</div> 
							<div class="form-group">
									<label class="message-label" for="Message">Mensaje</label>
									<textarea class="form-control" id="Message" rows="2" name="Message"></textarea>
							</div>
							
								<button type="submit" class="btn btn-default pull-right btn-block">Send</button>

						</form>

					</div>

				</div>

			</div>

		</div>

	</section>
  <!-- ******** CONTACT ******** -->
	<!-- ******** FOOTER ******** -->
	<footer id="footer">
			<div class="container">
					<div class="row">
							<div class="col-sm-4">
								<button id="BotonLenguaje" onclick="CambiarLenguaje()" class="btn-default">English</button>
							</div>
					</div>
					<div class="row">
							<div class="col-sm-12">
									<p class="text-center">
											© 2018 Designed and Developed by <a target="_blank" href="http://localhost:3000">Perrotta Francisco</a>
									</p>
									
									<ul class="social-icons text-center">
											<li><a href="https://www.facebook.com/lautiperrotta" target="_blank"><i class="fab fa-facebook"></i></a></li>
											<li><a href="https://www.instagram.com/lautiperrotta" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a href="#" target="_blank"><i class="fab fa-google-plus"></i></a></li>
											<li><a href="https://github.com/Thefluxporter" target="_blank"><i class="fab fa-github"></i></a></li> 
											<li><a href="https://www.linkedin.com/in/lautaro-perrotta-580868161" target="_blank"><i class="fab fa-linkedin"></i></a></li> 
									</ul>
							</div>
					</div>
			</div>
	</footer>
	<!-- ******** FOOTER ******** -->
	<script>
		function CambiarLenguaje() {
		  location.href = '/';
		}
	</script>
</body>
</html>