/**********************
DEFAULT
***********************/

body {
	padding-top: 90px;
	font-family: 'Crimson Text', serif;
	font-size: 15px;
	color: #637988;
	line-height: 1.7;
}

ul, ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
} 

p {
	margin: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, label, button, .btn {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	display: block;
}

h1, .h1 {
	font-size: 50px;
}

h2 {
	font-size: 25px;
}

h2.section-title {
	color: #231f20;
}

h2.section-title:after {
	display: block;
	content: '';
	width: 100%;
	height: 19px;
	background: url('../img/svg/separator.svg') center center no-repeat;
	margin-top: 45px;
}

h5 {
	font-size: 15px;
	letter-spacing: 0.2em;
}

section {
	position: relative;
}

section:nth-child(odd){
	background-color: #ffffff;
}

section:nth-child(even){
	background-color: #f4f4f4;
}

blockquote {
	padding: 0;
	margin: 0;
	border: 0;
}

form {
	text-align: left;
}

label {
	font-weight: normal;
}

button, .btn {
	font-size: 15px;
}

.form-group {
	margin: 0;
}

.form-control {
	background-color: transparent;
	color: #ffffff;
	border: none;
	border-bottom: 1px solid #707070;
	border-radius: 0;
	transition: all 0.3s ease-out;
}

.form-control:focus {
	border-color: #ffffff;
	box-shadow: none;
}

/**********************
NAVBAR
***********************/

.navbar {
	min-height: 90px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.navbar-default {
	background-color: #ffffff;
}

.navbar-brand {
	height: 90px;
	padding: 23px;
}

.navbar-brand img {
	max-height: 44px;
}

.navbar-default .navbar-nav>li>a {
	font-size: 13px;
	color: #707070;
	padding: 35px 23px;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: #a72f2f;
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	color: #a72f2f;  
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	margin-top: 28px;
	margin-bottom: 28px;
	border: 0;
	border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #707070;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar {
	color: #a72f2f;
}

/**********************
HOME SECTION
***********************/

#home {
	height: 725px;
	background: url("img/46.jpg") center center no-repeat;
	background-size: cover;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
}

.home-content {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #ffffff;
}

.home-content .h1,
.home-content h2 {
	margin-top: 45px;
}

.home-content .cta-container {
	margin-top: 54px;
}

.home-content .btn {
	letter-spacing: 0.2em;
	margin:0 15px;
	text-align: center;
	padding: 0;
	width: 200px;
	height: 60px;
	line-height: 60px;
	box-sizing: border-box;
	color: #ffffff;
	transition: all 0.3s;
	outline: none;
	box-shadow: none;
}

.home-content .btn-default {
	background-color: transparent;
	border: 1px solid #ffffff;
}

.home-content .btn-default:hover,
.home-content .btn-default.active.focus, 
.home-content .btn-default.active:focus, 
.home-content .btn-default.active:hover, 
.home-content .btn-default:active.focus, 
.home-content .btn-default:active:focus, 
.home-content .btn-default:active:hover {
	background: #ffffff;
	color: #231f20;
	border-color: #ffffff;
}

.home-content .btn-primary {
	background-color: #a72f2f;
}

.home-content .btn-primary:hover,
.home-content .btn-primary.active.focus, 
.home-content .btn-primary.active:focus, 
.home-content .btn-primary.active:hover, 
.home-content .btn-primary:active.focus, 
.home-content .btn-primary:active:focus, 
.home-content .btn-primary:active:hover {
	background: #ffffff;
	color: #a72f2f;
	border-color: #a72f2f;
}

.down-icon {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	padding: 45px 15px 15px;
}

.down-arrow {
	animation: scrollDown 2s infinite;
}

@keyframes scrollDown {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}
/**********************
SERVICES
***********************/

#service .media > .pull-left{
    margin-right: 50px;
}

#service .media .media-body h3{
    color: #a72f2f;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
}

#service .media .media-body p{
    color: #a72f2f;
    font-size: 13px;
    line-height: 24px;
}

#service .media{
    padding-bottom: 50px;
    padding-left: 20px;
}


.service-item {
    margin-bottom: 70px;
}

.service-icon {
  float: left;
  margin-top: 8px;
}

.service-desc {
    margin-left: 115px;
}

.service-item h3 {
  color: #a72f2f;
  font-size: 20px;
  margin-bottom: 28px;
}

.service-item p {
  line-height: 24px;
}
 

#services {
	padding: 100px 0 180px;
}

.service {
	background: #ffffff;
	padding: 20px 20px 20px;
	text-align: center;
}

.service .separator {
	width: 30px;
	height: 2px;
	background-color: #a72f2f;
	margin: 25px auto 0;
}

.service h5 {
	margin-top: 20px;
	color: #231f20;
}

.service p {
	margin-top: 51px;
}
#SERVICIOSAOFRECER{
	margin-top: 70px;
}
/**********************
TOOLS
***********************/
#Tools a{
	color:  #111111;
}
#Tools a:hover{
	color:  #a72f2f;
}
#Tools {
	padding: 100px 0 180px;
	box-sizing: border-box;
}
#Tools img{
	height: 120px;
    width: 110px;
} 
#ArribaTools{
	padding: 30px;
}
#ArribaTools h3{
	padding: 10px;
}
#AbajoTools h3{
	padding: 10px;
}
#ArribaTools1 img{
	height: 110px;
    width: 100px;
}
#AbajoTools img{
	height: 110px;
    width: 250px;
}
#AbajoTools1 img{
	height: auto;
    max-width: 100%;
	width: 150px;
	margin-top: -20;
}
#AbajoTools2 img{
	height: 110px;
    width: 150px;
}
#Vue{
	margin-top: -10;
}
#Vue img {
	height: 110px;
    width: 100px;
}
/**********************
RESUME
***********************/
#me{
	height: 450px;
    width: 450px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
	background-size: 100% auto;
	margin-bottom: 20px;
}
#MESECTION{
	margin-top: 51px;
}
#INFOME{
	margin-top: 51px;
} 
#Resume {
	padding: 100px 0;
}
#Resume i{
	padding: 0px 5px;
}
#Resume h1{
	font-family: 'Nunito', sans-serif;
} 

@media screen and (max-width: 500px) {
	#me{
		margin-top: 10px;
		height: 200px;
		width: 200px;
		/* los siguientes valores son independientes del tamaño del círculo */
		background-repeat: no-repeat;
		background-position: 50%;
		border-radius: 50%;
		background-size: 100% auto;
		display:block; margin:auto;
	}
  }
 
/**********************
CONTACT SECTION
***********************/

#contact {
	background-color: #101012;
	color: #ffffff;
	padding: 100px 0 180px;
	box-sizing: border-box;
}
#contact a:hover{
	color:  #a72f2f;
}
#contact a{
	color:  #ffffff;
}
.contact-subsection {
	border: 1px solid #707070;
	text-align: center;
	min-height: 500px;
	box-sizing: border-box;
}

#about-subsection {
	padding: 95px ;
}

#about-subsection p:after {
	display: block;
	content: '';
	width: 30px;
	height: 2px;
	background-color: #a72f2f;
	margin: 46px auto 0;
}

#about-subsection p {
	margin-top: 5px;
}

#form-subsection {
	padding: 95px 70px 76px;
	overflow: hidden;
}

#form-subsection .email-label {
	margin-top: 28px;
}

#form-subsection input {
	padding: 0 5px;
	height: 33px;
}

#form-subsection .message-label {
	margin-top: 60px;
}

#form-subsection textarea {
	margin: 0;
	padding: 0 5px;
	border: 0;
	box-sizing: border-box;
	resize: none;
	font-size: 15px;
	line-height: 50px;
	vertical-align: bottom;
	background: linear-gradient(transparent 49px, #707070 1px);
	background-size: 100% 50px;
	background-repeat: repeat-y;
}

#form-subsection textarea:focus,
#form-subsection textarea:active {
	background: linear-gradient(transparent 49px, #ffffff 1px);
	background-size: 100% 50px;
	background-repeat: repeat-y;
}

#form-subsection .btn-default {
	color:  #a72f2f;
	background: transparent;
	border: 1px solid;
	border-color: #a72f2f;
	border-radius: 10px; 
	padding: 10px 0;
	margin-top: 38px;
	outline: none;
	box-shadow: none;
}

#form-subsection .btn-default:hover,
#form-subsection .btn-default.active.focus, 
#form-subsection .btn-default.active:focus, 
#form-subsection .btn-default.active:hover, 
#form-subsection .btn-default:active.focus, 
#form-subsection .btn-default:active:focus, 
#form-subsection .btn-default:active:hover {
	color: #ffffff;
}

#ContenidoContact{
	margin-top: 38px;
}

#itemsContact{
	margin-top: 20px;
} 
 /**********************
FOOTER SECTION
***********************/
#footer {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
	background: #2e2e2e;
  }
  #footer a {
	color: #fff;
  }
  #footer a:hover {
	color: #a72f2f;
  }
  #footer ul {
	list-style: none;
	padding: 0;
	margin: 0 -7.5px;
  }
  #footer ul > li {
	display: inline-block;
	margin: 0 7.5px;
  }
  @media only screen and (min-width: 768px) {
	#footer .social-icons {
	  font-size: 20px;
	}
  }
  .form-control {
	box-shadow: none;
	-webkit-box-shadow: none;
  }
  
  #footer .btn-default {
	color:  #ffffff;
	background: transparent;
	border: 0;
	border-color: transparent;
	border-radius: 0; 
	outline: none;
	box-shadow: none;
}

#footer .btn-default:hover,
#footer .btn-default.active.focus, 
#footer .btn-default.active:focus, 
#footer .btn-default.active:hover, 
#footer .btn-default:active.focus, 
#footer .btn-default:active:focus, 
#footer .btn-default:active:hover {
	color: #a72f2f;
}